<div class="origin-section">
    <div class="origin-inner">
        <div class="origin-content">
            {% if section.settings.title %}
                <h1 class="origin-title">{{ section.settings.title }}</h1>
            {% endif %}
            <div class="origin-text-wrap">
                {% if section.settings.text %}
                    {{ section.settings.text }}
                {% endif %}
                 {% if section.settings.text2 %}
                {{ section.settings.text2 }}
                {% endif %}
                 {% if section.settings.image %}
                  <div class="origin-img-wrap origin-img-wrap-mobile">
                      <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy">
                  </div>
                {% endif %}
                {% if section.settings.text3 %}
                    {{ section.settings.text3 }}
                {% endif %}
            </div>
           
        </div>
        <div class="origin-img-wrap origin-img-wrap-desktop">
            {% if section.settings.image %}
                <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}" loading="lazy">
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "Origin",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "text2",
      "label": "Text"
    },
    {
      "type": "richtext",
      "id": "text3",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
      
  ],
  "presets": [
    {
      "name": "Origin",
      "category": "About Us"
    }
  ] 
}
{% endschema %}