<style>
    
    @font-face {
    font-family: 'Xanh Mono';
    src: url('{{ 'XanhMono-Regular.eot' | asset_url }}');
    src: local('Xanh Mono Regular'), local('XanhMono-Regular'),
        url('{{ 'XanhMono-Regular.eot?#iefix' | asset_url }}') format('embedded-opentype'),
        url('{{ 'XanhMono-Regular.woff2' | asset_url }}') format('woff2'),
        url('{{ 'XanhMono-Regular.woff' | asset_url }}') format('woff'),
        url('{{ 'XanhMono-Regular.ttf' | asset_url }}') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    .faq-section .faq-title {
      font-family: 'Xanh Mono';
    }
  </style>

<section class="faq-section">
  <div class="container">
    <div class="faq-inner" >
        <svg class="faq-bg" preserveAspectRatio="none" width="926" height="506" viewBox="0 0 926 506" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M911.1 0.5L925.173 12.7803L925.172 480.188V492.513L911.098 504.794H14.5742L0.5 492.513V480.188L0.500977 12.7803L14.5762 0.5H911.1Z" stroke="#3B2011"/>
            <path d="M904.419 7.37109L918.277 19.5078L918.276 472.706V484.89L904.415 497.028H21.2559L7.39551 484.891V472.706L7.39648 19.5078L21.2568 7.37109H904.419Z" stroke="#846F3E"/>
        </svg>

        {% if section.settings.title != blank %}
        <h2 class="faq-title">{{ section.settings.title }}</h2>
        {% endif %}

        <div class="faq-list">
        {% for block in section.blocks %}
            <div class="faq-item" {{ block.shopify_attributes }}>
            <div class="faq-question">
                <p>{{ block.settings.question }}</p>
                <div class="faq-icon"></div>
            </div>
            <div class="faq-answer">
                {{ block.settings.answer }}
            </div>
            </div>
        {% endfor %}
        </div>
        {% if section.settings.button_link %}
            <a href="{{ section.settings.button_link }}" class="btn btn-dark-fill">Know more</a>
        {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
    }
    
   
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Your question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Your answer text</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "category": "Contact Page"
    }
  ] 
}
{% endschema %}