<footer class="footer">
  <div class="container">
      <div class="footer-inner">
          <div class="footer-images">
              <img src="{{ section.settings.image_footer_logo | img_url: '150' }}" alt="">
              <img src="{{ section.settings.image_footer | img_url: '150' }}" alt="">
          </div>
          <div class="footer-content">
              <div class="footer-row">
                <div class="footer-col">
                  <h2 class="footer-title"></h2>
                  <div class="footer__links">
                    {% for link in section.settings.footer-menu-1.links %}
                      {{ link.title | link_to: link.url }}
                    {% endfor %}
                  </div>
                </div>
                <div class="footer-col">
                  <div class="footer__links">
                    {% for link in section.settings.footer-menu-2.links %}
                      {{ link.title | link_to: link.url }}
                    {% endfor %}
                  </div>
                </div>
                <div class="footer-col"></div>
              </div>
              <div class="footer-row">
                <div class="footer-col"></div>
                <div class="footer-col"></div>
                <div class="footer-col"></div> 
              </div>
              <div class="footer-row"></div>
          </div>
      </div>
  </div>


  <div class="footer__links">
    {% for link in section.settings.footer-menu-1.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>

  
</footer>


{% schema %}
{
  "name": "t:general.footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_footer_logo",
      "label": "Footer Logo"
    },
    {
      "type": "image_picker",
      "id": "image_footer",
      "label": "Footer Image"
    },
    {
      "type": "link_list",
      "id": "footer-menu-1",
      "label": "Footer Menu 1"
    },
    {
      "type": "link_list",
      "id": "footer-menu-2",
      "label": "Footer Menu 2"
    }
  ]
}
{% endschema %}
