<div class="rewards-page">
    <section class="rewards-first-screen">
        <div class="container">
            <div class="rewards-first-screen-inner">
                <div class="rewards-first-screen-content">
                    {% if section.settings.first_screen_title %}
                        <h1 class="rewards-first-screen-title">{{ section.settings.first_screen_title }}</h1>
                    {% endif %}
                    {% if section.settings.first_screen_text %}
                        <p class="rewards-first-screen-text">{{ section.settings.first_screen_text }}</p>
                    {% endif %}
                </div>
                <div class="rewards-first-screen-buttons">
                     {% if section.settings.button_link %}
                        <a href="{{ section.settings.button_link }}" class="btn btn-dark"> Join</a>
                    {% endif %}
                    {% if section.settings.button_link2 %}
                        <a href="{{ section.settings.button_link2 }}" class="btn btn-dark"> Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>        
    </section>
    <section class="how-it-works">
        <div class="container">
            {% if section.settings.title %}
                <h2 class="how-it-works-title">{{ section.settings.title }}</h2>
            {% endif %}
            <div class="how-it-works-inner">
            {% for block in section.blocks %}
                <div class="step-card" {{ block.shopify_attributes }}>
                {% if block.settings.title %}
                    <p class="step-card-title">{{ block.settings.title }}</p>
                {% endif %}
                {% if block.settings.text %}
                    <div class="step-card-text">{{ block.settings.text }}</div>
                {% endif %}
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <section class="earn-bonus">
        <div class="container">
            <div class="earn-bonus-inner">
                {% if section.settings.image_earn %}
                    <img src="{{ section.settings.image_earn | image_url: width: 700 }}" alt="earn-bonus-image" class="earn-bonus-image">
                {% endif %}
                {% if section.settings.shop_all_link %}
                    <div class="faq-btn-wrap">
                        <a href="{{ section.settings.shop_all_link }}" class="btn btn-dark-fill">Shop all</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
</div>


{% schema %}
{
  "name": "Rewards page",
  "settings": [
    {
      "type": "text",
      "id": "first_screen_title",
      "label": "First screen title",
    },
    {
      "type": "richtext",
      "id": "first_screen_text",
      "label": "First screen text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Join link"
    },
     {
      "type": "url",
      "id": "button_link2",
      "label": "Button Log In link"
    },

    {
      "type": "text",
      "id": "how_it_works_title",
      "label": "Section title",
      "default": "How it works"
    },
    {
      "type": "image_picker",
      "id": "image_earn",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "shop_all_link",
      "label": "Shop all"
    },
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step card",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Step title",
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Step text",
        }
      ]
    }
  ],
 
}
{% endschema %}