{% comment %}
  This section is used in the product template to render product page with
  media, content, and add-to-cart form.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/product
{% endcomment %}
<div class="single-product">
  <div class="container">
    <div class="single-product-inner">
      <div class="product-images-container">
        
        <div class="product-media-main">
          {% assign first_media = product.media.first %}
          
          {% if first_media.media_type == 'image' %}
            {% render 'image',
              image: first_media,
              class: 'product-main-image'
            %}
          {% elsif first_media.media_type == 'video' %}
            {{ first_media | video_tag: controls: true, class: 'product-main-video' }}
          {% elsif first_media.media_type == 'external_video' %}
            {{ first_media | external_video_tag: class: 'product-main-video' }}
          {% endif %}
        </div>
      </div>
      <div class="product-content">
          <div class="product-info">
            <h1>{{ product.title }}</h1>
            <p>{{ product.price | money }}</p>
            <p>{{ product.description }}</p>
          </div>

          <div class="product-form">
            {% form 'product', product %}
              {% assign current_variant = product.selected_or_first_available_variant %}

              <select name="id">
                {% for variant in product.variants %}
                  <option
                    value="{{ variant.id }}"
                    {% if variant == current_variant %}
                      selected="selected"
                    {% endif %}
                  >
                    {{ variant.title }} - {{ variant.price | money }}
                  </option>
                {% endfor %}
              </select>

              <input type="text" name="quantity" min="1" value="1">

              <input type="submit" value="Add to cart">
              {{ form | payment_button }}
            {% endform %}
          </div>
      </div>
    </div>
  </div>
</div>



{% schema %}
{
  "name": "t:general.product",
  "settings": [],
  "disabled_on": {
    "groups": ["header", "footer"]
  }
}
{% endschema %}
