<style>
    
    @font-face {
    font-family: 'Xanh Mono';
    src: url('{{ 'XanhMono-Regular.eot' | asset_url }}');
    src: local('Xanh Mono Regular'), local('XanhMono-Regular'),
        url('{{ 'XanhMono-Regular.eot?#iefix' | asset_url }}') format('embedded-opentype'),
        url('{{ 'XanhMono-Regular.woff2' | asset_url }}') format('woff2'),
        url('{{ 'XanhMono-Regular.woff' | asset_url }}') format('woff'),
        url('{{ 'XanhMono-Regular.ttf' | asset_url }}') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
    .contacts .contacts-title {
      font-family: 'Xanh Mono';
    }
  </style>
<section class="contacts">
    <div class="container">
        <div class="contacts-inner">
            <div class="contacts-info">
                {% if section.settings.title_contacts %}
                    <h2 class="contacts-title">{{ section.settings.title_contacts }}</h2>
                {% endif %}
                <div class="contacts-info-body">
                    {% if section.settings.email  %}
                        <p class="contacts-label">Email:</p>
                        <a href="mailto:{{ section.settings.email }}" class="contacts-link">{{ section.settings.email }}</a> 
                    {% endif %}
                    {% if section.settings.phone_call and section.settings.phone_show %}
                        <p class="contacts-label">Phone:</p>
                        <a href="tel:{{ section.settings.phone_call }}" class="contacts-link">{{ section.settings.phone_show }}</a>
                    {% endif %}    
                </div>
                <div class="contacts-info-img">
                    <img src="{{ 'phone.svg' | asset_url }}" alt="phone-decor">
                </div>
            </div>
            <div class="contacts-form">
                {% if section.settings.title_form %}
                    <h2 class="contacts-title">{{ section.settings.title_form }}</h2>
                 {% endif %}

                {% form 'contact' %}
                    <div class="form-field">
                        <input type="text" name="contact[name]" placeholder="Name" required>
                    </div>
                    <div class="form-field">
                        <input type="email" name="contact[email]" placeholder="Email" required>
                    </div>
                    <div class="form-field">
                        <textarea name="contact[body]" placeholder="Message" rows="4"></textarea>
                    </div>
                    <div class="form-actions">
                        {% if section.settings.button_link %}
                            <a href="{{ section.settings.button_link }}" class="btn btn-dark"> Message us</a>
                        {% endif %}
                        <button type="submit" class="btn-primary btn btn-dark">Submit</button>
                    </div>
                {% endform %}
            </div>
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Contacts",
  "settings": [
    {
      "type": "text",
      "id": "title_contacts",
      "label": "Title (Contacts)"
    },
    {
      "type": "text",
      "id": "email",
      "label": "Email"
    },
    {
      "type": "text",
      "id": "phone_call",
      "label": "Phone (For call)"
    },
    {
      "type": "text",
      "id": "phone_show",
      "label": "Phone (For show)"
    },
    {
      "type": "text",
      "id": "title_form",
      "label": "Title (Form)"
    },
    {
        "type": "url",
        "id": "button_link",
        "label": "Button link (Message)"
    },
   
  ],
  "presets": [
    {
      "name": "Contacts",
      "category": "Contact Page"
    }
  ] 
}
{% endschema %}